@use '@/app/styles/mixins/hidden';
@use '@/app/styles/mixins/content';

.checkbox {
	position: relative;
	display: inline-grid;
	overflow: hidden;
	grid-template-columns: 2rem 1fr;
	align-items: center;
	gap: var(--spacing-8);

	input {
		@include hidden.hidden;

		&:checked + .checkbox__status::after {
			opacity: 1;
		}
	}

	&__status {
		position: relative;
		width: 2rem;
		height: 2rem;
		background: var(--color-black);
		transition-duration: var(--transition-duration);
		transition-property: color, background-color, opacity, border-color;
		transition-timing-function: var(--transition-timing-function);

		&::after {
			@include content.content;

			top: 0.5rem;
			left: 0.5rem;
			width: 1rem;
			height: 1rem;
			background: var(--color-white);
			opacity: 0;
			transition-duration: var(--transition-duration);
			transition-property: color, background-color, opacity, border-color;
			transition-timing-function: var(--transition-timing-function);
		}
	}

	&__label {
	}

	&_state {
		&_disabled {
		}

		&_error {
		}
	}
}
